<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joe's Coins</title>
    <style>
        body {
            font-family: arial, sans-serif;
        }
        
        table {
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .error-message {
            color: red
        }
    </style>
</head>
<body>
    <a href="/"><h2>Joe's Coins</h2></a>
    {% if username %}
        <p>logged in as {{username}}</p>
        <a href="/logout">Log out</a>

    {% else %}
        <a href="/login">Log in</a>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>