{% extends "base.html" %}

{% block title %}Joe's Coins - All Coins{% endblock %}

{% block content %}

<p>Below is a list of all coins currently in the database:</p>

<table>
    <tr>
        <th>Coin Name</th>
        <th>Duties</th>
        <th>Complete?</th>
    </tr>
    {% for coin in coins %}
        <tr>
            <td>{{ coin.coinName }}</td>
            <td>{{ coin.duties|join(', ') }}</td>
            {% if coin.isComplete %}
                <td>Yes</td>
            {% else %}
                <td>No</td>
            {% endif %}
        </tr>
    {% endfor %}   
</table>

{% endblock %}

