{% extends "base.html" %}

{% block title %}Joe's Coins - All Coins{% endblock %}

{% block content %}

<p>Below is a list of all coins currently in the database.</p>
<p>Click on a coin's name to edit its duties or completion status</p>
<table>
    <tr>
        <th>Coin Name</th>
        <th>Duties</th>
        <th>Complete?</th>
    </tr>
    {% for coin in coins %}
        <tr>
            <td><a href="/edit-coin/{{coin.coinPath}}">{{ coin.coinName }}</a></td>
            <!-- <td>{{ coin.duties|join(', ') }}</td> -->
            <td>
                {% for duty in coin.duties %}
                    <a href="{{ url_for('single_duty_page', duty_number=duty) }}">Duty {{ duty }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
            {% if coin.isComplete %}
                <td style="color: green"; ><b>Yes</b></td>
            {% else %}
                <td style="color: red"; ><b>No</b></td>
            {% endif %}           
        </tr>
    {% endfor %}   
</table>
<div class="error-message">
{% if error %}
    <p>Please log in to edit coins</p>
{% endif %}
</div>
<br>
<a href="/create-coin" style="color: black">Create New Coin</a>

{% endblock %}
