{% extends "base.html" %}

{% block title %}Joe's Coins - All Duties{% endblock %}

{% block content %}

{% if page_mode == "all" %}
<p>Below is a list of all duties available to add to coins:</p>
{% endif%}

<table>
    <tr>
        <th>Duty Name</th>
        <th>Description</th>
        <th>Linked Coins</th>
    </tr>
    {% for duty in duties %}
        <tr>
            <td>Duty {{ duty.dutyNumber }}</td>
            <td>{{ duty.description }}</td>
            <td>{{ duty.coins|join(', ') }}</td>
        </tr>
    {% endfor %}   
</table>

{% if page_mode == "single" %}
<a href="{{ url_for('coins_list_page') }}">back</a>
{% endif%}

{% endblock %}

